@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Drug Search</h1>

<div id="app">

    <transition name="fade">
        <div class="alert alert-danger" role="alert" v-show="error" v-cloak>
            {{error}}
        </div>
    </transition>

    <form class="form-inline" v-on:submit.prevent="search">
        <label class="sr-only" for="ndc">NDC</label>
        <input type="search" class="form-control mb-2 mr-sm-2" id="ndc" placeholder="NDC"
               required pattern="^\d+$"
               v-on:change="error = null"
               v-model="ndc">
        <button class="btn btn-primary mb-2"
                type="submit">
            Search
        </button>
    </form>

    <hr />

    <p v-cloak>{{results.length}} Result(s)</p>

    <transition name="fade">
        <table class="table table-bordered table-striped table-hover" v-show="results.length" v-cloak>
            <thead class="thead-dark">
                <tr>
                    <th>NDC</th>
                    <th>Description</th>
                    <th>Manufacturer</th>
                    <th>Full Price</th>
                    <th>Mfg Accept Returns?</th>
                    <th>Is Hazardous Waste?</th>
                    <th>Inmar Status</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="result in results">
                    <td>{{result.details.nationalDrugCode}}</td>
                    <td>{{result.details.description}}</td>
                    <td>{{result.details.organization.name}}</td>
                    <td>{{result.details.fullPrice}}</td>
                    <td>{{result.details.doesMfgAcceptReturns}}</td>
                    <td>{{result.details.isHazardousWaste}}</td>
                    <td>{{result.status}}</td>
                </tr>
            </tbody>
        </table>
    </transition>
</div>

<script src="~/lib/vue/vue.min.js"></script>
<script src="~/js/vue/app.js"></script>