@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Drug Search</h1>

<div id="app">

    <div class="form-inline">
        <label class="sr-only" for="ndc">NDC</label>
        <input type="search" class="form-control mb-2 mr-sm-2" id="ndc" placeholder="NDC"
               v-model="ndc">
        <button class="btn btn-primary mb-2"
                v-on:click="search">
            Search
        </button>
    </div>

    <hr />

    <p>{{results.length}} Result(s)</p>

    <table class="table table-borders">
        <thead>
            <tr>
                <th>NDC</th>
                <th>Description</th>
                <th>Manufacturer</th>
                <th>Full Price</th>
                <th>Mfg Accept Returns?</th>
                <th>Is Hazardous Waste?</th>
                <th>Inmar Status</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="result in results">
                <td>{{result.details.nationalDrugCode}}</td>
                <td>{{result.details.description}}</td>
                <td>{{result.details.organization.name}}</td>
                <td>{{result.details.fullPrice}}</td>
                <td>{{result.details.doesMfgAcceptReturns}}</td>
                <td>{{result.details.isHazardousWaste}}</td>
                <td>{{result.status}}</td>
            </tr>
        </tbody>
    </table>

</div>

<script src="~/lib/vue/vue.min.js"></script>
<script src="~/js/vue/app.js"></script>