@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Drug Search</h2>

<div>

    <input type="search" placeholder="NDC" />
    <button>Search</button>

    <hr />

    <p>N Result(s)</p>

    <table class="table table-borders">
        <thead>
            <tr>
                <th>Description</th>
                <th>Manufacturer</th>
                <th>Full Price</th>
                <th>Mfg Accept Returns?</th>
                <th>Is Hazardous Waste?</th>
                <th>Inmar Status</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

</div>

<script src="~/lib/vue/vue.min.js"></script>
<script src="~/js/vue/app.js"></script>