body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

[v-cloak] {
    display: none;
}